/* Add your CSS styles for search bar and search results page here */
.search-container {
    margin-bottom: 20px;
}

#searchResults {
    margin-top: 20px;
}

/* Add more styling as needed */
h1 {
    font-size: 24px; /* Adjust the size as needed */
}

/* Set font size for h2 */
h2,h3 {
    font-size: 60px; /* Adjust the size as needed */
}